* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #3a3434;
}

header .navbar .container-fluid a {
  font-weight: 900;
  font-style: normal;
  padding-left: 400px;
  color: white;
}

header .navbar .container-fluid .navbar-nav {
  padding-left: 400px;
}

header .navbar .container-fluid .navbar-nav .nav-item a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  color: white;
}

header .navbar .container-fluid .navbar-nav .nav-item a:hover {
  color: blue;
  background-color: red;
}

header .navbar .container-fluid .navbar-nav .nav-item .active {
  background-color: red;
}

main #hero {
  background-image: url(/assets/images/hero-bg.jpg);
  height: 930px;
}

main #hero .container .row .hero-item {
  color: white;
  padding-top: 480px;
}

main #hero .container .row .hero-item .herobtn {
  border: 2px solid white;
  background-color: #5f5b5b;
  color: white;
  padding: 10px 28px;
  font-size: 14px;
}

main #hero .container .row .hero-item .herobtn:hover {
  background-color: red;
}

main #pricing .container .head-item h1 {
  text-shadow: -20px -20px #bdb9b9;
  padding-top: 25px;
}

main #pricing .container .row .col-md-4 {
  border-radius: 5px;
  color: white;
  background-color: #e0d4d4;
  margin: 5px;
  max-width: 400px;
  max-height: 600px;
}

main #pricing .container .row .col-md-4 .pricingbtn {
  border: none;
  color: white;
  background-color: red;
  margin-bottom: 15px;
}

main #pricing .container .row .active {
  background-color: red;
}

main #pricing .container .row .active:hover .pricingbtn {
  color: red;
  background-color: white;
}

main #team .container .team-item h1 {
  text-shadow: -20px -20px #bdb9b9;
  padding-top: 25px;
}

main #team .container .row .col-md-4 {
  height: 350px;
  width: 400px;
}

main #team .container .row .col-md-4 .team-img {
  padding-top: 40px;
}

main #team .container .row .col-md-4 .team-img img {
  border-radius: 50%;
  width: 100px;
}

main #team .container .row .col-md-4 .box-item h4 {
  padding-top: 20px;
}

main #team .container .row .col-md-4 .box-item h6 {
  font-size: x-small;
}

main #team .container .row .col-md-4 .box-item .icons {
  padding-left: 150px;
  color: gray;
}

main #contact .container .contact-item h1 {
  text-shadow: -20px -20px #bdb9b9;
  padding-top: 25px;
}

main #contact .container .row .boxes {
  height: 120px;
}

main #contact .container .row .boxes h4 {
  padding-top: 40px;
  color: gray;
}

main #map .container .row .col-md-6 {
  padding-top: 30px;
}

main #map .container .row form .btn {
  background-color: red;
  border: none;
  border-radius: 0;
  margin-left: 180px;
}

footer {
  background-color: black;
}

footer .container .row .footer-content {
  border-top: 2px solid red;
  background-color: #4d4949;
  color: white;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer .container .row .footer-content .icons {
  padding-left: 80px;
}
/*# sourceMappingURL=style.css.map */