
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="hero-item ">
                    <h1>WELCOME TO DAY</h1>
                    <h4>We are team of talented designers making websites with Bootstrap</h4>
                    <button class="herobtn">Get Started</button>

                </div>

            </div>
        </div>

    </section>
    <section id="pricing">
        <div class="container">
            <div class="head-item text-center">
                <h1>PRICING</h1>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 shadow">
                    <div class="pricing-item text-center">
                        <h5>FREE</h5>
                        <h6>$0 / month</h6>
                        <p>Aida dere</p>
                        <p>Nec feugiat nisl</p>
                        <p>Nulla at volutpat dola</p>
                        <p>Pharetra massa</p>
                        <p>Massa ultricies mi</p>
                        <button class="pricingbtn">Buy Now</button>


                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 shadow active">
                    <div class="pricing-item text-center">
                        <h5>BUSINESS</h5>
                        <h6>$0 / month</h6>
                        <p>Aida dere</p>
                        <p>Nec feugiat nisl</p>
                        <p>Nulla at volutpat dola</p>
                        <p>Pharetra massa</p>
                        <p>Massa ultricies mi</p>
                        <button class="pricingbtn">Buy Now</button>


                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 shadow">
                    <div class="pricing-item text-center">
                        <h5>FREE</h5>
                        <h6>$0 / month</h6>
                        <p>Aida dere</p>
                        <p>Nec feugiat nisl</p>
                        <p>Nulla at volutpat dola</p>
                        <p>Pharetra massa</p>
                        <p>Massa ultricies mi</p>
                        <button class="pricingbtn">Buy Now</button>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="team-item text-center">
                <h1>TEAM</h1>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 shadow">
                    <div class="team-img text-center">
                        <img src="~/assets/images/team-1.jpg" alt="">

                    </div>
                    <div class="box-item text-center">
                        <h4>Walter White</h4>
                        <h6>Chief Executive Officer</h6>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <div class="icons d-flex text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>

                        </div>


                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 shadow">
                    <div class="team-img text-center">
                        <img src="~/assets/images/team-2.jpg" alt="">

                    </div>
                    <div class="box-item text-center">
                        <h4>Walter White</h4>
                        <h6>Chief Executive Officer</h6>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <div class="icons d-flex text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>

                        </div>


                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12 shadow">
                    <div class="team-img text-center">
                        <img src="~/assets/images/team-3.jpg" alt="">

                    </div>
                    <div class="box-item text-center">
                        <h4>Walter White</h4>
                        <h6>Chief Executive Officer</h6>
                        <p>Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                        <div class="icons d-flex text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="contact">
        <div class="container">
            <div class="contact-item text-center">
                <h1>CONTACT</h1>
                <P>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</P>
            </div>
            <div class="row">
                <div class=" boxes col-lg-6 col-md-6 col-6 shadow text-center">
                    <h4>Our Address</h4>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
                <div class=" boxes col-lg-3 col-md-3 col-3 shadow text-center">
                    <h4>Email Us</h4>
                    <p>+1 5589 55488 55</p>

                </div>
                <div class=" boxes col-lg-3 col-md-3 col-3 shadow text-center">
                    <h4>Call</h4>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
        </div>

    </section>
    <section id="map">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12227.107123439633!2d46.9297085!3d39.991093449999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403e91e482321fbb%3A0x824b59aaa6a21507!2sAgdam!5e0!3m2!1sen!2s!4v1656503560764!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="col-md-6 ">
                    <form>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example1" class="form-control" />
                                    <label class="form-label" for="form6Example1">Your Name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="form6Example2" class="form-control" />
                                    <label class="form-label" for="form6Example2">Your Email</label>
                                </div>
                            </div>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form6Example3" class="form-control" />
                            <label class="form-label" for="form6Example3">Subject</label>
                        </div>


                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                            <label class="form-label" for="form6Example7">Message</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Send Message</button>
                    </form>

                </div>
            </div>
        </div>

    </section>

</main>

